<!doctype html>
<html lang="en">
  <%- include('./../head.ejs') %>
  <body>
    <%- include('./../header.ejs') %>
  <main class="d-flex flex-nowrap">
    <%- include('./../sidebar.ejs') %>

    <!-- Interfaz De Inicio Carroussel -->

    <div class="carousel">
      <div class="container px-4 py-6" id="carousel">
    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel" style="background-color: rgba(13,112,200,1);">

      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
          <div class="container">
            <div class="carousel-caption text-start">
              <h1>Bienvenido a Appix Project Manager!</h1>
            </div>
          </div>
        </div>
        <div class="carousel-item active">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
          <div class="container">
            <div class="carousel-caption">
              <h1>Gestiona tus proyectos facilmente.</h1>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
          <div class="container">
            <div class="carousel-caption text-end">
              <h1>Visualiza riesgos de tus proyectos.</h1>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  
        <!-- Interfaz De Inicio Headings circulares -->

    <div class="row mt-5">
      <div class="col-lg-4">
        <img src="/images/recproyect.png" svg class="bd-placeholder-img" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        <h2 class="fw-normal">Resumen</h2>
        <p>Consulta un resumen de tus proyectos mas recientes.</p>
        <p><a class="btn btn-secondary" href="#">Ver »</a></p>
      </div>
      <div class="col-lg-4">
        <img src="/images/duedate.png" svg class="bd-placeholder-img" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        <h2 class="fw-normal">Por Terminar</h2>
        <p>Consulta tus proyectos cerca de la fecha limite.</p>
        <p><a class="btn btn-secondary" href="#">Ver »</a></p>
      </div>
      <div class="col-lg-4">
        <img src="/images/altoriesgo.png" svg class="bd-placeholder-img" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        <h2 class="fw-normal">Estadisticas de Riesgo</h2>
        <p>Consulta tus proyectos con mas riesgos.</p>
        <p><a class="btn btn-secondary" href="#">Ver »</a></p>
      </div>
    </div>
  </main>

  <div class="container">
    <%- include('./../footer.ejs') %>
  </div>

    <!-- Funciones con ID para navegar entre las interfaces -->

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <%- include('./../script.ejs') %>

  <script>
    var elemento = document.getElementById('inicio-link');
    elemento.className = 'nav-link active';
  </script>
  <%- include('./script_inicio.ejs') %>
</body>
</html>

