<!DOCTYPE HTML>
<html>
    <head>
        <%- include('css.ejs') %>
    </head>
    <body>
        <header>
            <%- include('header.ejs') %>
        </header>
        <%- include('body.ejs') %>
        <footer>
            <%- include('footer.ejs') %>
        </footer>
    </body>

    <%- include('scripts.ejs') %>
</html>